body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* BUTTONS */

.button {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.action-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
}

.action-button:hover {
    background-color: #0056b3;
}

.return-button {
    background-color: #fff;
    border-color: #000;
    color: #000;
    border: 1px solid #ccc;
}

.return-button:hover {
    background-color: #eee;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.delete-button:hover {
    background-color: #c82333;
    color: #fff;
}

.delete-button > img {
    height: 15px;
    width: 15px;
}

/* CREDENTIALS */

#credentials-list {
    margin-bottom: 20px;
}

.credential-item {
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    position: relative;
}

.credential-item > button {
    margin-left: auto;
    align-self: flex-start;
}

.credential-footer {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.credential-footer > img {
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 15px;
    width: 15px;
}

.credential-footer > div {
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.credential-error {
    background-color: lightcoral;
}

.credential-warning {
    background-color: none;
}

.credential-success {
    background-color: none;
}

/* COMPANIES */

#companies-list {
    display: block;
    list-style-type: none;
    padding: 0;
}

.company-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.company-item-selectable {
    border: 0.5px solid #ccc;
    cursor: pointer;
}
.company-item-selectable:hover {
    background-color: #eee;
}

.company-item > img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

.company-item > div > h3 {
    margin-top: 0px;
}

.company-item > div > p {
    margin: 0px;
}
